.icon-left{
    position: absolute;
    top: 10px;
    left: 10px;
}
.icon-right{
    position: absolute;
    bottom: 10px ;
    right: 10px;
}
.season-display{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-shadow: 2px 2px rgb(134, 134, 134);
    
}
.Winter{
    background-color: rgb(140, 182, 255);
}
.Summer{
    background-color: rgb(255, 219, 152);
}
.season-display.Winter i {
    color: blue;
}
.season-display.Summer i {
    color: orange;
}